/* ===
RESET
===*/
* {
  padding: 0;
  margin: 0;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

/*===
HELPER
===*/
html {
  scroll-behavior: smooth;
}

body{
  background-color: #EFEFEF;
}

.text-align-center{
  text-align: center;
}

.full-img{
  width: 100%;
}

.limited-img{
  height: 300px;
}

.align-middle{
  align-self: center;
}

.visible{
  opacity: 1;
}

.hidden{
  opacity: 0;
}

.show-on-sm-only{
  display: none;
}


@media screen and (max-width: 800px) {
  .show-on-sm-only{
    display: block;
  }

  .hide-on-sm{
    display: none;
  } 
}

/*===
COLORS
===*/
.black {
  background-color: #000 !important
}

.black-text {
  color: #000 !important
}

.white {
  background-color: #fff !important
}

.white-text {
  color: #fff !important
}

.gray-text{
  color: gray;
}