/* ===
RESET
===*/
* {
  padding: 0;
  margin: 0;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

/*===
HELPER
===*/

body{
  background-color: #EFEFEF;
}

.full-img{
  width: 100%;
}

.align-middle{
  align-self: center;
}

/*===
COLORS
===*/
.black {
  background-color: #000 !important
}

.black-text {
  color: #000 !important
}

.white {
  background-color: #fff !important
}

.white-text {
  color: #fff !important
}