/* ===
NAVBAR
===*/
#nav {
  background-color: white;
  z-index: 99;
  font-size: 1.2rem;
  position: relative;
  top:0px;
}

.sticky{
  position: sticky !important;
}

#logo-container{
  top: 0px;
  position: absolute;
}

#logo{
  height: 150px;
  width: 150px;
}

.nav-list{
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-list .nav-top-item{
  margin-top: 3.5rem;
}

.nav-list .nav-bottom-item{
  margin-top: auto;
}

.nav-list .nav-links {
  padding: 1rem 2rem;
  color: black;
  text-decoration: none;
}

.nav-list .nav-links:link {
  text-decoration: none;
}

.nav-list .nav-links:visited {
  text-decoration: none;
}

.nav-list .nav-links:hover {
  text-decoration: none;
}

.nav-list .nav-links:active {
  text-decoration: none;
  border-bottom: 1px solid gray;
}

@media screen and (max-width: 800px) {
  #logo{
    height: 80px;
    width: 80px;
    position: relative;
    top: 20px;
  }
  .nav-list .nav-top-item{
    margin-top: 1rem;
    padding-left: 2rem !important;
  }
  .nav-list .nav-bottom-item{
    margin-top: 0.5rem;
  }
}