#stories{
  color: #EFEFEF;
  -webkit-text-stroke: 3px #B377E2;
  font-size: 5rem;
  margin: 2rem 0rem;
}

.story-boxes{
  border:5px solid black;
}

.active-story{
  border-bottom: 0px !important;
}

#story-container{
  padding: 2rem;
  border: 5px solid black;
}

.story-header{
  font-size: 3rem;
}

.story-text{
  font: 1.8rem;
}