/* ===
ZINES
===*/
.zine-carousel{
  flex-wrap: nowrap;
  overflow: hidden;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  position: relative;
}

.zine-header{
  font-size: 3rem;
  font-weight: bold;
}

.zine-text{
  padding-left: 2rem;
  font-size: 1.5rem;
}

.zine-text::before {
  position: absolute;
  left: 0;
  top: 67%;
  width: 1.5rem;
  height: 1.5rem;
  background: #7DAA92;
  border-radius: 1.5rem;
  content: '';
}

.zine-buttons{
  height: 50px;
  padding: 0rem 1.5rem;
  cursor: pointer;
}

.ease-anim{
  transition: all 1000ms ease-in-out;
}

.transition-offscreen{
  transform: translateX(-41%);
}

.transition-offscreen-2{
  transform: translateX(-100%);
}

.transition-offscreen-3{
  transform: translateX(-158%);
}

.zine-container{
  position: relative;
  padding: 3rem 0rem;
}

.zine-slide{
  position: absolute;
  top: 0;
}

.carousel-control{
  position: absolute;
  top: 45%;
  width: 100%;
}

.arrow-icons{
  cursor: pointer;
  font-size: 3rem;
}

#arrow-left{
  float: left;
}

#arrow-right{
  float: right;
}

.arrow-disabled{
  cursor: default !important;
  color: darkgray;
}


@media screen and (max-width: 800px) {
  .zine-header{
    font-size: 2rem;
  }
  
  .zine-text{
    font-size: 1.4rem;
  }

  .zine-carousel{  
    margin-left: 0rem;
    margin-right: 0rem;
    flex-wrap: wrap;
  }

  .zine-slide{
    position: relative;
  }
}