/* ===
ZINES
===*/
.zine-carousel{
  flex-wrap: nowrap;
  /* OVERFLOW SCROLL TEMP FOR JS */
  overflow: scroll;
}

.zine-header{
  font-size: 5rem;
  font-weight: bold;
}

.zine-text{
  padding-left: 3rem;
  font-size: 2rem;
  /* color: white; */
}

.zine-text::before {
  position: absolute;
  left: 0;
  top: 67%;
  width: 1.5rem;
  height: 1.5rem;
  background: #7DAA92;
  border-radius: 1.5rem;
  content: '';
}
